html {
  background-color: rgb(83, 199, 192);
}
body {
  height: 100%;
  margin: 0;
}
h1 {
  font-family: 'Grechen Fuemen', cursive;
  font-size: 45px;
  letter-spacing: 5px;
  height: 80px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  border: 8px solid rgba(255, 121, 121, 0.995);
  max-width: 700px;
  margin: auto;
  margin-top: 15px;
  background-color:rgb(249, 232, 167);

}

.introduction {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 28px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 700px;
}
.slides {
  display: none;
  width: 100%;
}
/* .img1 {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  border-radius: 20px;
}
img {
  border: 5px solid rgb(37, 128, 135);
} */

h3 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 25px;
  color: #333;
  text-align: center;
  margin-top: 80px;
  text-decoration: underline;
  
}
.drop-down-container {
  text-align: center;
  padding-top: 40px;
  
}

#drop-down {
  text-align: center;
  border-radius: 10px;
}
select {
  font-size: 24px;
  color:rgb(249, 232, 167);
  background-color: rgb(242, 119, 119);
}
.beach-list {
  text-align: center;
  padding-bottom: 30px;
  /* font-size: 28px; */
}

hr {
  margin-bottom: 30px;
  margin-top: 30px;
}
.footer, 
.push {
  margin: auto;
  height: 30px;
  padding-bottom: 20px;
}
p {
  text-align: center;
  font-family: 'Aleo', serif;
  font-size: 25px;
  
}
article{
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  font-size: 15px;
  color:rgb(46, 143, 137);
}
@media only screen
  and (max-width: 800px){
  h1 {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  body {
    flex-direction: column;
  }
  .introduction {
    font-size: 15px;
    text-align: center;
  }
  /* img {
    border: 2px solid rgb(37, 128, 135);
  } */
  h3 {
    font-size: 15px;
  }
  .drop-down-container {
    padding-top: 60px;
  }
  select {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
  article {
    font-size: 10px;
  }
  }